attrs==21.2.0
gst==0.1.0
iniconfig==1.1.1
numpy==1.21.4
packaging==21.2
pluggy==1.0.0
py==1.11.0
pycairo==1.20.1
PyGObject==3.42.0
pyparsing==2.4.7
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pytest==6.2.5
ruamel.yaml==0.17.17
ruamel.yaml.clib==0.2.6
toml==0.10.2
vext==0.7.6
vext.gi==0.7.4
