attrs==21.2.0
gst==0.1.0
iniconfig==1.1.1
numpy==1.19.4
packaging==21.2
pluggy==1.0.0
py==1.11.0
pycairo==1.20.1
PyGObject==3.42.0
pyparsing==2.4.7
pytest==6.2.5
ruamel.yaml==0.17.17
ruamel.yaml.clib==0.2.6
toml==0.10.2
vext==0.7.6
vext.gi==0.7.4
PyYAML==6.0
